* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.bubble{
    position: absolute;
    border-radius: 50%;
}

audio {
    display: none;
}

.bubble.inflate{
    transform:  scale(2);
}

#score div{
    width: 200;
    height: 100;
    margin:
        calc(50vh - 50 px)
        calc(50vw - 100px);
}